pandas
numpy
scikit_learn
torch
mysql-connector-python-rf
ConfigSpace
openbox
hyperopt
botorch
psycopg2-binary
matplotlib
#tensorflow
psutil
pyDOE
#kdtree
scipy
cython
scikit-optimize
smac
#botorch
#gpytorch
aliyunsdkcore
aliyun-python-sdk-rds
dynaconf
shap
lightgbm
paramiko==2.8
xgboost